* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e5e5e5;
}

.background {
  height: max-content;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  width: 327px;
  height: 474px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.toolbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  list-style: none;
}

.toolbar li {
  padding: 0;
  display: none;
}

.toolbar a {
  display: flex;
  height: 20%;
  list-style: none;
  align-items: center;
  text-decoration: none;
  margin-right: 60px;
  float: right;
  margin-top: 40px;
  justify-content: space-between;
  padding: 20px;
  color: black;
}

.primary {
  clear: right;
  text-align: center;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  align-items: center;
  margin-top: 40px;
}

span {
  color: #36b37e;
}

.headline p {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin: 20px 20px;
}

.social-media ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.social-media img {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.normal-button {
  margin-top: 100px;
}

.header {
  background-image: url("images/header-illsutration-mobile@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.my-recent-work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.my-work {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  padding-bottom: 50px;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

.grid-container {
  display: grid;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.card {
  margin-top: 24px;
}

.card-work {
  background-color: #d0d9d4;
  width: 300px;
  height: 252px;
}

.project-information {
  border: solid 1px #d0d9d4;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  width: 300px;
  height: 474px;
  flex-direction: column;
  align-items: center;
}

.project-information p {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.project-information ul {
  list-style: none;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 16px;
  flex-wrap: wrap;
}

.project-information li {
  color: #3a4a42;
  background-color: #ebf0ee;
  padding: 8px 12px;
}

.skill-list li {
  background-color: rgb(255, 255, 255);
  padding: 12px;
  border-radius: 8px;
  color: #36b37e;
  flex-wrap: wrap;
  margin: 5px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  align-items: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.flex-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  size: 50px;
}

.keeping-track li {
  color: #3a4a42;
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  margin-right: 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.project-information ul li {
  margin: 2px;
  background-color: ##ebf0ee;
  border-radius: 5px;
  padding: 10px;
  color: ##3a4a42;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.project-information button {
  background-color: #36b37e;
  display: flex;
  width: 122px;
  height: 48px;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

button:hover {
  background-color: #c5e9da;
  color: #172b4d;
  font-weight: bold;
  transition: 0.3s;
}

.line {
  height: 7px;
  width: 70px;
  background-color: #36b37e;
  border-radius: 20px;
}

.flex-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.my-skills {
  background-color: rgb(228, 228, 228);
  height: 316px;
  width: 327px;
  border-radius: 8px;
  margin-top: 20px;
}

.my-skills h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  position: relative;
  bottom: 25px;
}

.my-skills img {
  margin-top: 40px;
}

.skill-list {
  list-style: none;
  justify-content: first baseline;
  align-items: center;
  display: flex;
  margin: 2px;
  flex-wrap: wrap;
}

.about-me {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
  color: #172b4d;
}

.about-me button {
  height: 48px;
  width: 153px;
  left: 99px;
  top: 290px;
  border-radius: 4px;
  padding: 12px;
  background-color: #36b37f;
  border: none;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  margin-top: 40px;
}

.about-me button:hover {
  background-color: #c5e9da;
  color: #172b4d;
  transition: 0.4s;
}

.about-me p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 50px;
  text-align: center;
  padding: 20px;
}

@media (min-width: 768px) {
  .toolbar li {
    display: flex;
  }

  .toolbar img {
    display: none;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
